.navbar {
  background-color: #7af035;
}

.quem-somos {
  background-color: #e0ffcd;
}

.quem-somos img {
  width: 200px;
  height: 200px;
}

@media (min-width: 900px) {
  .quem-somos img {
    width: 350px;
    height: 350px;
  }
}

.parceiros {
  background-color: #c4f0a7;
}

.servicos {
  background-color: #ebeee8;
}
